PORT=3000

DATABASE_URL=your_database_url

ACCESS_TOKEN_SECRET=your_access_secret
REFRESH_TOKEN_SECRET=your_refresh_secret
RESET_TOKEN_SECRET=your_reset_secret

NODE_ENV=development

PERMIT_TOKEN=your_permit_token

SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass